
.content span{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    gap: 0.5rem;
}

span a{
    color: #2d2e32;
}

span a::after,span a:hover{
    color: #000eee;
}

.hero-section{
    height: auto;
    background-color: var(--secondary-color);
}

@media screen and (max-width:900px){
    .home{
        display: flex;
    }
    img{
        max-width: 21rem;
        padding: 1rem 0;
    }
}


@media screen and (max-width:900px){

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content h1, .content p{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* max-width: 70vw; */
    margin-inline: auto;   
    text-align: center;
}

.content h1{
    font-size: 4rem;
    color: #2d2e32;
    padding: 1rem 1rem;
}



.content p{
    font-family: "Poppins",sans-serif;
    color: #767676;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6;
    padding: 1rem 1rem;
}


img{
    max-width: 18rem;
    padding: 1rem 0;
}

.content span{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    gap: 0.5rem;
}

span a{
    
    color: #767676;
}

span a:hover{
    color: #2d2e32;
}

.techstack{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.techstack ul{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.techstack li{
    display: flex;
    background-color: white;
    list-style: none;
    padding: 0 1rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
}

.techstack li img{
    width: 3rem;
    height: auto;
}
}


@media screen and (max-width:500px){
    .content h1{
        font-size: 3rem;
    }
    /* .content p{
        font-size: 1rem;
    } */
}