.navbar{
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  1rem 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    min-width: 100vw;
}

.title,
#links:hover{
    cursor: pointer;
}

#links{
    display: flex;
    list-style-type: none;
    gap: 1rem;
    font-size: 1.2rem;
}

.icons{
    display: none;
}

.title{
    font-size: 1.7rem;
    font-weight: 1000;
}



@media only screen and (max-width:900px){
    .navbar{
        background-color: var(--primary-color);
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1rem 2rem;
        min-width: 100vw;
    }
    .icons{
        display: block;
        /* position: fixed;
        right: 0; */
        z-index: 2;
    }
    .icons i{
        font-size: 2rem;
    }
    #links{
        background-color: var(--primary-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        list-style-type: none;
        gap: 1rem;
        position: fixed;
        top: -8%;
        left: 100%;
        right: 0;
        bottom: 0;
        /* transform: translate(50%,50%); */
        transition: 0.3s ease-in-out;
        backdrop-filter: blur(100vh);
        /* width: 100vw; */
        /* height: 100vh; */
        padding: 50vh 50vw;
    }
    #links.active{
        left: 0%;
    }    

}